$player-background: #eeeeee;
$hover-background: #e39774;
$range-background: #a0c7cf;
$meter-background: #326273;
$highlight-text: #beffd6;
$highlight-word: #a4cbff;
$font-error: #ff0033;

#kalita-player {
	max-width: 300px;
	background-color: $player-background;
	font-family: Arial, Lucida Grande, sans-serif;
	display: flex;
	align-items: center;

	&[aria-hidden="true"], *[aria-hidden="true"] {
		display: none;
	}
}

.kalita-popup {
	position: absolute;
	z-index: 1000;
	background-color: $player-background;

	&[aria-hidden="true"] {
		display: none;
	}
}

.kalita-control,
.kalita-slider {
	margin: 0;
	padding: 0.5em;
	border: none;
	color: inherit;
	font: inherit;
	text-decoration: none;
	background-color: transparent;
	display: flex;
	align-items: center;

	.kalita-icon {
		width: 1.5em;
		height: 1.5em;
		display: block;
	}

	.kalita-text {
		line-height: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

.kalita-control {
	&:hover,
	&:focus {
		background-color: $hover-background;
	}
}

.kalita-slider {
	height: 2.5em;
	flex: 1;

	&:focus {
		background-color: $hover-background;
	}

	.kalita-range,
	.kalita-meter {
		height: 1em;
		display: block;
	}

	.kalita-range {
		width: 100%;
		background-color: $range-background;
	}

	.kalita-meter {
		width: 50%;
		background-color: $meter-background;
	}
}

.kalita-error {
	padding: 0.5em;
	line-height: 1.5em;
	color: $font-error;
	flex: 1;
}

span.kalita-marked {
	background-color: $highlight-text;
}

span.kalita-word {
	background: $highlight-word;
}
