$player-background: #eeeeee;
$hover-background: #e39774;
$range-background: #a0c7cf;
$meter-background: #326273;
$highlight-text: #beffd6;
$highlight-word: #a4cbff;

#kalita-player {
	max-width: 300px;
	align-items: center;
	display: flex;
	background-color: $player-background;
}

.kalita-popup {
	position: absolute;
	z-index: 1000;
	background-color: $player-background;
}

.kalita-control {
	margin: 0;
	padding: 0.5em;
	border: none;
	color: inherit;
	font: inherit;
	text-decoration: none;
	background-color: transparent;

	&:hover,
	&:focus {
		background-color: $hover-background;
	}

	.kalita-icon {
		width: 1.5em;
		height: 1.5em;
		display: block;

		&[aria-hidden="true"] {
			display: none;
		}
	}
}

.kalita-slider {
	width: 100%;
	height: 1em;
	overflow: hidden;
	-webkit-appearance: none;
	background-color: $range-background;
	flex: 1;

	// Chrome

	&::-webkit-slider-runnable-track {
		height: 1em;
		background-color: $range-background;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 0px;
		height: 0px;
		border: none;
		box-shadow: -100px 0 0 100px $meter-background;
	}

	// Firefox

	&::-moz-range-track {
		height: 1em;
		background-color: $range-background;
	}

	&::-moz-range-progress {
		height: 1em;
		background-color: $meter-background;
	}

	&::-moz-range-thumb {
		-webkit-appearance: none;
		width: 0px;
		height: 0px;
		border: none;
	}

	// IE

	&::-ms-fill-upper {
		height: 1em;
		background-color: $range-background;
	}

	&::-ms-fill-lower {
		height: 1em;
		background-color: $meter-background;
	}
}

span.kalita-marked {
	background-color: $highlight-text;
}

span.kalita-word {
	background: $highlight-word;
}
